Source: proxmox-mini-journalreader
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10~), libsystemd-dev
Standards-Version: 3.9.8

Package: proxmox-mini-journalreader
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Minimal systemd Journal Reader
 A minimal application to read the last X lines of the systemd journal or the
 last X lines before a cursor.
